$color-primary: blueviolet;
$color-secondary: #ccc;
$color-white: #fff;
$color-nav: #333;

$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem;
$font-size-sm: 0.875rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height-base: 1.5;
$line-height-sm: 1.5;
$line-height-lg: 1.5;

$border-radius: 0.25rem;
$border-radius-lg: 0.3rem;
$border-radius-sm: 0.2rem;

$box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$grid-columns: 12;
$grid-gutter-width: 1.5rem;

$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

$spacer: 1rem;
$spacer-x: 1rem;
$spacer-y: 1rem;

$headings-margin-bottom: 0.5rem;
$headings-font-family: inherit;
$headings-font-weight: 500;
$headings-line-height: 1.2;
$headings-color: inherit;

$display1-size: 6rem;

$display2-size: 5.5rem;

$display3-size: 4.5rem;

$display4-size: 3.5rem;

$display1-weight: 300;
$display2-weight: 300;
$display3-weight: 300;
$display4-weight: 300;

$display-line-height: $headings-line-height;

$lead-font-size: 1.25rem;
$lead-font-weight: 300;

$small-font-size: 80%;
$mark-padding: 0.2em;

$border-width: 1px;

$dt-font-weight: $font-weight-bold;

$hr-border-color: rgba(0, 0, 0, 0.1);
$hr-border-width: $border-width;

$gray-600: #6c757d;
$blockquote-small-color: $gray-600;
$blockquote-font-size: ($font-size-base * 1.25);

$hr-margin-y: $spacer-y;

$nested-kbd-font-weight: $font-weight-bold;

$nested-pre-font-size: $font-size-sm;

$gray-200: #e9ecef;
$nested-pre-bg: $gray-200;

$purple: #6f42c1;
$nested-code-color: $purple;

$nested-code-bg: $gray-200;

$nested-kbd-color: $nested-code-color;

$nested-kbd-bg: $nested-code-bg;

$nested-pre-color: $nested-code-color;

$gray-300: #dee2e6;
$nested-pre-border-color: $gray-300;

$nested-pre-border-width: $border-width;

$nested-blockquote-border-color: $gray-300;

$nested-blockquote-border-width: $border-width;

$nested-blockquote-margin: $spacer-y;

$nested-blockquote-padding: $spacer-y;




