@import './partials/mixins';
@import './partials/variables';

.logoWrapper {
    text-align: center;
    margin: 2rem 0 0 0;
    a {
      text-decoration: none;
    }
  }
  
  .headerWrapperOuter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    @include lg {
      margin: 0;
    }
  
  }
  
  
  /* Mobile Menu */
  .mobileMenuWrapperOuter {
    display: block;
    @include lg {
      //display: none;
    }
  }
  
  .hamburgerMenu {
    color: $color-nav;
    font-size: 2.0rem;
    cursor: pointer;
    display: block;
    margin-top: 0.2rem;
  
    @include lg {
      display: none;
    }
  }
  
  ul.menuWrapper {
    @include ulReset;
    li {
      background-color: #662f6c;
      
      div {
        border-bottom: 1px solid #a24baa;
        width: 100%;
        &:hover {
          background-color: #a24baa;
        }
      }
      a {
        display: block;
        padding: 1rem;
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
      }
    }
    ul {
      @include ulReset;
      li {
        background-color: #522656;
        div {
          border-bottom: 1px solid #a24baa;
          width: 100%;
          &:hover {
            background-color: #a24baa;
          }
        }
  
        a {
          text-decoration: none;
          color: #fff;
          font-size: 1rem;
        }
        ul {
          @include ulReset;
          li {
            background-color: #55275a;
            
            div {
              border-bottom: 1px solid #a24baa;
              &:hover {
                background-color: #a24baa;
              }
            }
            a {
              text-decoration: none;
              color: #fff;
              font-size: 1rem;
            }
            ul {
              li {
                div {
                  border-bottom: 1px solid #a24baa;
                }
              }
            }
          }
        }
      }
    }
  }
  .show {
    display: block;
  }
  ul.menuWrapper {
    @include ulReset;
    li {
      position: relative;
      display: flex;
      justify-content: space-between;
      a {
        display: block;
        padding: 1rem 0 1rem 1rem;
        text-decoration: none;
        font-size: 1rem;
      }
      .dropDownToggle {
        display: inline-block;
        position: absolute;
        right: 1rem;
        top: 1.3rem;
        content: "";
        border: 0.7rem solid transparent;
        width: 0;
        height: 0;
      }
      .down {
        border-top-color: #fff;
      }
      ul.subMenu {
        @include ulReset;
        display: none;
        li {
          a {
            text-decoration: none;
            color: #fff !important;
            font-size: 1rem;
            margin-left: 1rem;
          }
  
          ul {
            @include ulReset;
            li {
              a {
                text-decoration: none;
                color: #fff;
                font-size: 1rem;
                margin-left: 2rem;
              }
            }
          }
        }
      }
    }
    
  }
  
  .mobileMenuWrapperOuter {
    ul.menuWrapper {
      li {
        flex-direction: column;
      }
    }
  }
  
  
  .visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  #toggleOne{
    border: 10px solid red;
  }
  .subMenu {
    display: none;
  }
  
  input[type=checkbox] ~ .subMenu {
    display: none;
  }
  
  input[type=checkbox]:checked ~ .subMenu {
    display: block;
  }
  
  /* Desktop Menu */
  .desktopMenuWrapperOuter {
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    .subMenuArrow {
      font-size: 0.7rem;
    }
    ul.menuWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      
      li {
        background-color: white;
        border-bottom: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        &:hover {
          a {
            color: #bb350f;
            
          }
        }
        a {
          display: block;
          padding: 1rem 1rem 1rem;
          text-decoration: none;
          color: #333;
          font-size: 1.2rem;
          //font-weight: $font-weight-bold;
        }
        ul.subMenu {
          @include ulReset;
          
          display: none;
          position: absolute;
          top: 100%;
          
          left: 0;
          .subMenuArrow {
            font-size: 0.7rem;
            position:absolute;
            top: 1rem;
            right: 1rem;
          }
          li {
            width: 195px;
            display: inline-block;
            text-align: left;
            padding:0;
            margin: 0;
            
            a {
              text-decoration: none;
              color: #333;
              font-size: 1rem;
              line-height: 1.3rem;
              margin-left: 0;
            }
            ul {
              @include ulReset;
              display: none;
              position: absolute;
              top: 0;
              left: 100%;
              width: 200px;
              
              li {
                border-left: 1px solid #e281e2;
                a {
                  text-decoration: none;
                  color: #333;
                  font-size: 1rem;
                  margin-left: 0;
                }
              }
              
            }
            &:hover {
              background-color: #8998f3;
              ul {
                display: block;
              }
            }
  
          }
          li:nth-child(even) {
            background-color: #662f6c;
            ul {
              li {
                background-color: #662f6c;
              }
            }
          }
          li:nth-child(odd) {
            background-color: #55275a;
          }
        }
        &:hover {
          ul.subMenu {
            display: block;
          }
        }
      }
  
      li:hover {
        ul.subMenu {
          display: block;
        }
      }
    }
  }
  
  .desktopMenuWrapperOuter {
    display: none;
    @include lg {
      display: block;
    }
  }
  
  
  
  
  